.cabecalho {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__titulo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho__titulo {
    font-size: 2rem;
    font-family: var(--fonte-titulo);
    color: var(--branco);
}