.contato {
    background-color: var(--cinza-claro);
}

.contato__descricao {
   text-align: center;
   line-height: 1.8;
   font-size: 1.2rem;
   font-weight: 300;
   margin-bottom: 2rem;
}

.contato__conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contato__form {
    min-width: 500px;
    color: var(--cor-fonte-escura);
}

.contato__campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    gap: 1rem 0;
}

.contato__campo input {
    height: 45px;
    box-sizing: border-box;
}

.contato__campo textarea {
    resize: none;
}

.campo__texto {
    font-size: 1rem;
    font-family: "Merriweather", serif;
    font-weight: 300;
    max-width: 600px;
    padding: 0.5rem;
    padding-right: calc(0.5rem + 35px);
    border: 1px solid var(--azul-escuro);
    border-radius: 5px;
    color: var(--cor-fonte);
    outline-color: var(--azul-escuro);
}

.campo__texto--valido {
    border: 1px solid var(--verde);
    outline-color: var(--verde);
    background-image: url("../img/form-sucesso.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: calc(100% - 0.5rem) 50%;
}

.campo__texto--invalido {
    border: 1px solid var(--vermelho-medio);
    outline-color: var(--vermelho-medio);
    background-image: url("../img/form-erro.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: calc(100% - 0.5rem) 50%;
}

.contato__erro {
    color: var(--vermelho-medio);
    font-weight: 700;
    max-width: 500px;
}

.contato__btn {
    align-self: center;
}

.contato__btn:disabled {
    color: var(--branco);
    background-color: var(--vermelho-escuro);
    opacity: 75%;
    border: 1px solid var(--vermelho-escuro);
}

.contato__btn:disabled:hover, .contato__btn:disabled:focus {
    cursor: initial;
    transform: none;
}

@media screen 
and (min-width: 320px) 
and (max-width: 374px) {
    .contato__campo {
        width: 300px;
        box-sizing: border-box;
    }
}

@media screen 
and (min-width: 320px) 
and (max-width: 767px) {
    .contato__descricao {
        line-height: 1.5;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .contato__conteudo {
        flex-direction: column;
        justify-content: space-evenly;
        box-sizing: border-box;
    }

    .contato__img {
        order: 1;
        width: 200px;
        height: 200px;
        margin-top: 1rem;
    }

    .contato__form {
        min-width: fit-content;
        max-width: 300px;
        box-sizing: border-box;
    }

    .contato__campo {
        margin-bottom: 0.75rem;
    }

   .campo__texto {
        box-sizing: border-box;
        margin: 0 auto 0.5rem;
        width: 100%;
   }
}

@media screen 
and (min-width: 767px) 
and (max-width: 1023px) {
    .contato__conteudo {
        flex-direction: column;
    }

    .contato__img {
        width: 250px;
        height: 250px;
        order: 1;
        margin-top: 1rem;
    }
}