.hobbies {
    background-color: var(--cinza-claro);
}

.hobbies__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies__item {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}

.hobbies__item__img {
    margin-bottom: 5px;
}

.hobbies__item__titulo {
    font-size: 1.1rem;
}