.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre__titulo {
    text-align: left;
}

.sobre__conteudo {
    max-width: 750px;
}

.sobre__texto {
    margin-bottom: 1rem;
}

.sobre__link {
    color: var(--cor-links);
    text-decoration: none;
}

.sobre__link:hover, .sobre__link:focus {
    transition: 0.5s;
    color: var(--azul-escuro);
}